.p-wrapper {
    margin-top: 2rem;
    overflow: hidden;
  }
  
  .p-container {
    overflow: hidden;
  }
  
  .p-head {
    margin-top: 3rem;
    margin-bottom: 2rem;
  }
  
  .p-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .card {
    width: 240px;
    height: 320px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.212);
    background: var(--orange-gradient);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    position: relative;
    transition: all 0.4s;
  }
  
  .card-content {
    position: absolute;
    font-size: 18px;
    top: 10px;
    left: 10px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-align: left;
    z-index: 2;
  }
  
  .card-content span {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .card-image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.212);
    cursor: pointer;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.4s;
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  
  .card-background {
    position: absolute;
    bottom: 2px;
    left: 10px;
    color: rgb(252, 252, 252);
    font-size: 0.82em;
    font-weight: 700;
    text-align: left;
    z-index: 0;
  }
  .bc{
    color: #080808;
  }
  
  .card-background span {
    display: block;
    margin-bottom: 0.5rem;
  }
  
  .card:hover .card-image {
    transform: translateY(-50px);
  }
  