.hero-wrapper{
    color: white;
    position: relative;
    padding-bottom: 2rem;
    /* background: var(--orange-gradient); */
}
.hero-container{
    justify-content: space-between;
    align-items: flex-end;
}
.hero-left{
    gap: 3rem;
}
.hero-title{
    position:relative;
    z-index: 1;
}
.hero-title>h1{
    font-weight:600;
    font-size: 3.8rem;
    line-height: 4rem;
}

.orange-circle {
    height: 4rem;
    width: 4rem;
    background: var(--black-gradient);
    border-radius: 999px;
    position: absolute;
    right: -6%;
    top: -10%;
    z-index: -1;
  }
  
  :root {
    --black-gradient: linear-gradient(to bottom right, #000000, #333333);
  }
  
.search-bar{
    background-color: white;
    border-radius: 5px;
    border: 3px solid rgba(120,120,120,.375);
    padding: .5rem 1rem;
    justify-content: space-between;
    width:100%;
}
.search-bar>input{
    border: none;
    outline: none;
}
.stats{
    width: 100%;
    justify-content: space-between;
}
.stat{
    font-size: 2rem;
}
.stat .secondaryText{
    color: #292929;
}
.stat>:nth-child(1)>:last-child{
    color:#292929;
}
.image-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 5rem 5rem;
    border:8px solid rgba(255,255,255,0.12);
}
.image-container>img{
    width: 100%;
    height: 100%;
    /* object-fit: cover; */

}