.v-container .image-container{
    border-radius: 0rem 15rem 5rem 5rem;
    border:8px solid rgb(232 232 232 / 93%);
}
.v-container .image-container>img {
    transition: transform 0.3s ease-out;
  }
  
.v-container .image-container>img:hover {
    transform: scale(1.1);
}

.v-container>div{
    flex: 1;
}
.v-right{
    gap: 0.5rem;
}
.accordion{
    margin-top: 2rem;
    border: none;

}
.accordionItem{
    background: #fff;
    border: .8px solid rgba(128,128,128,.143);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}
.accordionItem.expanded{
    box-shadow: var(--shadow);
    border-radius: 6px;
}
.accordionButton{
    background: white;
    cursor:pointer;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
}
.icon{
    padding: 10px;
    background: #eeeeff;
    border-radius: 5px;
}
.icon svg{
    fill: var(--blue);
}
.accordionButton .primaryText{
    font-size: 1.1rem;
}